/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-image: url(/Resources/Background.jpg);
}
.button{
    -fx-border-color: rgb(0,0,0);
    -fx-background-radius: 0.0;
    -fx-background-color: rgb(220,220,220);
    -fx-border-style: none  ;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0.0em; /* 12 */
    -fx-text-fill: #828282;
}	
#panR{
	-fx-border-color: rgb(0,0,0);
}

 #btnNguoi:pressed {
    -fx-background-color: rgb(0,0,0);
    -fx-text-fill: white;
}

#btnNguoi{
	 -fx-background-radius: 5.0;
	 -fx-min-height: 30.0px;
	 -fx-text-fill: rgb(0,0,0);
	 -fx-font-weight: bold;
     -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	 -fx-wrap-text: true ;
	 -fx-font-size: 15.0px;
     -fx-background-color: rgb(128,128,128);
	 -fx-border-color: rgb(0,0,0);
}